/.idea
/code/app/output/*
/log_files
Rebel/text_properties_extractor.py
Rebel/model
Rebel/__pycache__/spacy_component.cpython-38.pyc
Rebel/triplets0_3000.csv
Rebel/results/rebel_triplets0_1000.csv
Rebel/results/join_results.py
Rebel/rebel_triples_rdf.csv
code/app/utils/__pycache__/*
code/app/utils/__pycache__/build_RDF_triples.cpython-38.pyc
code/app/utils/__pycache__/preprocess_sentences.cpython-38.pyc
code/app/utils/__pycache__/process_triples.cpython-38.pyc
code/app/utils/__pycache__/triples_extraction.cpython-38.pyc
code/app/utils/__pycache__/build_RDF_triples.cpython-38.pyc
code/app/utils/__pycache__/preprocess_sentences.cpython-38.pyc
code/app/utils/__pycache__/process_triples.cpython-38.pyc
code/app/utils/__pycache__/triples_extraction.cpython-38.pyc
